<%# タイトルをクリックするとトップページに戻る %>
<div class="deck-header">
  <div class="left-header">
    デッキレシピ
  </div>
  <div class="right-header">
    <%= link_to "新規作成", new_battlespirit_path %>
  </div>
</div>

<%# バトスピの色選択ページ 　css設定済%>
<div class="mains">
  <div class="main">
    <div class="colors">
      <%# 色ごとのデッキ作成ページに遷移 %>
      <div class="color">
        <div class="red">
          赤
        </div>
        <div class="decks">
          <!-- battlespirits リストの各要素に対して処理を行う -->
          <% @battlespirits.each do |battlespirit| %>
            <div class="deck_list">
              <div class="deck">
               <!-- 色が2の場合、デッキ名を表示 -->
               <%= battlespirit.deck_name if battlespirit.color_id == 2 %>
              </div>

              <!-- 色が2の場合にのみ詳細へのリンクを表示 -->
              <% if battlespirit.color_id == 2 %>
                <div class= "more">
                  <ul class="more_list">
                    <li>
                      <!-- battlespirit の詳細ページへのリンク -->
                      <%= link_to '詳細', battlespirit_path(battlespirit.id) %>
                    </li>
                  </ul>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="colors">
      <%# 色ごとのデッキ作成ページに遷移 %>
      <div class="color">
        <div class="blue">
          青
        </div>
        <div class="decks">
          <!-- battlespirits リストの各要素に対して処理を行う -->
          <% @battlespirits.each do |battlespirit| %>
            <div class="deck_list">
              <div class="deck">
                <!-- 色が2の場合、デッキ名を表示 -->
                <%= battlespirit.deck_name if battlespirit.color_id == 3 %>
              </div>

              <!-- 色が3の場合にのみ詳細へのリンクを表示 -->
              <% if battlespirit.color_id == 3 %>
                <div class= "more">
                  <ul class="more_list">
                    <li>
                      <!-- battlespirit の詳細ページへのリンク -->
                      <%= link_to '詳細', battlespirit_path(battlespirit.id) %>
                    </li>
                  </ul>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="main">
    <div class="colors">
      <%# 色ごとのデッキ作成ページに遷移 %>
      <div class="color">
        <div class="yellow">
          黄
        </div>
        <div class="decks">
          <!-- battlespirits リストの各要素に対して処理を行う -->
          <% @battlespirits.each do |battlespirit| %>
            <div class="deck_list">
              <div class="deck">
                <!-- 色が4の場合、デッキ名を表示 -->
                <%= battlespirit.deck_name if battlespirit.color_id == 4 %>
              </div>

              <!-- 色が4の場合にのみ詳細へのリンクを表示 -->
              <% if battlespirit.color_id == 4 %>
                <div class= "more">
                  <ul class="more_list">
                    <li>
                      <!-- battlespirit の詳細ページへのリンク -->
                      <%= link_to '詳細', battlespirit_path(battlespirit.id) %>
                    </li>
                  </ul>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="colors">
      <%# 色ごとのデッキ作成ページに遷移 %>
      <div class="color">
        <div class="green">
          緑
        </div>
        <div class="decks">
          <!-- battlespirits リストの各要素に対して処理を行う -->
          <% @battlespirits.each do |battlespirit| %>
            <div class="deck_list">
              <div class="deck">
                <!-- 色が5の場合、デッキ名を表示 -->
                <%= battlespirit.deck_name if battlespirit.color_id == 5 %>
              </div>

              <!-- 色が5の場合にのみ詳細へのリンクを表示 -->
              <% if battlespirit.color_id == 5 %>
                <div class= "more">
                  <ul class="more_list">
                    <li>
                      <!-- battlespirit の詳細ページへのリンク -->
                      <%= link_to '詳細', battlespirit_path(battlespirit.id) %>
                    </li>
                  </ul>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="main">
    <div class="colors">
      <%# 色ごとのデッキ作成ページに遷移 %>
      <div class="color">
        <div class="white">
          白
        </div>
        <div class="decks">
          <!-- battlespirits リストの各要素に対して処理を行う -->
          <% @battlespirits.each do |battlespirit| %>
            <div class="deck_list">
              <div class="deck">
                <!-- 色が6の場合、デッキ名を表示 -->
                <%= battlespirit.deck_name if battlespirit.color_id == 6 %>
              </div>

              <!-- 色が6の場合にのみ詳細へのリンクを表示 -->
              <% if battlespirit.color_id == 6 %>
                <div class= "more">
                  <ul class="more_list">
                    <li>
                      <!-- battlespirit の詳細ページへのリンク -->
                      <%= link_to '詳細', battlespirit_path(battlespirit.id) %>
                    </li>
                  </ul>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="colors">
      <%# 色ごとのデッキ作成ページに遷移 %>
      <div class="color">
        <div class="purple">
          紫
        </div>
        <div class="decks">
          <!-- battlespirits リストの各要素に対して処理を行う -->
          <% @battlespirits.each do |battlespirit| %>
            <div class="deck_list">
              <div class="deck">
              <!-- 色が7の場合、デッキ名を表示 -->
                <%= battlespirit.deck_name if battlespirit.color_id == 7 %>
              </div>

              <!-- 色が7の場合にのみ詳細へのリンクを表示 -->
              <% if battlespirit.color_id == 7 %>
                <div class= "more">
                  <ul class="more_list">
                    <li>
                      <!-- battlespirit の詳細ページへのリンク -->
                      <%= link_to '詳細', battlespirit_path(battlespirit.id) %>
                    </li>
                  </ul>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  
</div>