<%# タイトルをクリックするとトップページに戻る %>
<div class="deck-header">
  <div class="left-header">
    デッキレシピ
  </div>
</div>

<%# デッキ作成  cardを縦横2列にし「カード名：3枚」の形で保存、枚数はActiveHashで表記%>
<div class="mains">
  <%= form_with model: @battlespirits, class: 'form', local: true do |f| %>
    <%# デッキ名を記入 %>
    <div class= "deck">
      <div class="deck-name">
        <div class="category">
          デッキ名 
        </div>
        <div class="names">
          <%= f.text_field :deck_name, class: 'form-detail', placeholder: 'デッキ名', style: 'height: 50px;' %>
        </div>
      </div>
      <div class="color_selection">
        色選択
        <%# ActiveHashで色を選択 %>
        <%= f.collection_select(:color_id, Color.all, :id, :name, {}, {class:"color-select", style: 'height: 50px;' }) %>
      </div>
    </div>

    <%# カテゴリの横にカード名を入力 %>
    <div class="deck">
      <div class="card-category">
        アルティメット  
      </div>
      <div class="cards">
        <% (1..2).each do |i| %>
          <div class="card">
            <div class="column">
              <div class="card-name">
                <%= f.text_field "ultimate#{i}", class: 'form-detail card-count-select', placeholder: 'アルティメット' %>
              </div>
              <div class="card-count">
                :<%= f.text_field "ultimate#{i}_count", class: 'count-detail ', placeholder: '半角数字' %>枚
              </div>
            </div>
            <div class="column">
              <div class="card-name">
                <%= f.text_field "ultimate#{i+2}", class: 'form-detail card-count-select', placeholder: 'アルティメット' %>
              </div>
              <div class="card-count">
                :<%= f.text_field "ultimate#{i+2}_count", class: 'count-detail ', placeholder: '半角数字' %>枚
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>


    <div class="deck">
      <div class="card-category">
        スピリット
      </div>
      <div class="cards">
        <% (1..2).each do |i| %>
          <div class="card">
            <div class="column">
              <div class="card-name">
                <%= f.text_field "spirit#{i}", class: 'form-detail card-count-select', placeholder: 'スピリット' %>
              </div>
              <div class="card-count">
                :<%= f.text_field "spirit#{i}_count", class: 'count-detail ', placeholder: '半角数字' %>枚
              </div>
            </div>
            <div class="column">
              <div class="card-name">
                <%= f.text_field "spirit#{i+2}", class: 'form-detail card-count-select', placeholder: 'スピリット' %>
              </div>
              <div class="card-count">
                :<%= f.text_field "spirit#{i+2}_count", class: 'count-detail ', placeholder: '半角数字' %>枚
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="deck">
      <div class="card-category">
        ブレイブ 
        <%# ブレイブは3~4枚がベストなバランスかも、スピリットの入力フォームを増やす必要がある %>
      </div>
      <div class="cards">
        <% (1..2).each do |i| %>
          <div class="card">
            <div class="column">
              <div class="card-name">
                <%= f.text_field "brave#{i}", class: 'form-detail card-count-select', placeholder: 'ブレイブ' %>
              </div>
              <div class="card-count">
                :<%= f.text_field "brave#{i}_count", class: 'count-detail ', placeholder: '半角数字' %>枚
              </div>
            </div>
            <div class="column">
              <div class="card-name">
                <%= f.text_field "brave#{i+2}", class: 'form-detail card-count-select', placeholder: 'ブレイブ' %>
              </div>
              <div class="card-count">
                :<%= f.text_field "brave#{i+2}_count", class: 'count-detail ', placeholder: '半角数字' %>枚
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="deck">
      <div class="card-category">
        マジック
      </div>
      <div class="cards">
        <% (1..2).each do |i| %>
          <div class="card">
            <div class="column">
              <div class="card-name">
                <%= f.text_field "magic#{i}", class: 'form-detail card-count-select', placeholder: 'マジック' %>
              </div>
              <div class="card-count">
                :<%= f.text_field "magic#{i}_count", class: 'count-detail ', placeholder: '半角数字' %>枚
              </div>
            </div>
            <div class="column">
              <div class="card-name">
                <%= f.text_field "magic#{i+2}", class: 'form-detail card-count-select', placeholder: 'マジック' %>
              </div>
              <div class="card-count">
                :<%= f.text_field "magic#{i+2}_count", class: 'count-detail ', placeholder: '半角数字' %>枚
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="deck">
      <div class="card-category">
        ネクサス
      </div>
      <div class="cards">
        <% (1..2).each do |i| %>
          <div class="card">
            <div class="column">
              <div class="card-name">
                <%= f.text_field "nexus#{i}", class: 'form-detail card-count-select', placeholder: 'ネクサス' %>
              </div>
              <div class="card-count">
                :<%= f.text_field "nexus#{i}_count", class: 'count-detail ', placeholder: '半角数字' %>枚
              </div>
            </div>
            <div class="column">
              <div class="card-name">
                <%= f.text_field "nexus#{i+2}", class: 'form-detail card-count-select', placeholder: 'ネクサス' %>
              </div>
              <div class="card-count">
                :<%= f.text_field "nexus#{i+2}_count", class: 'count-detail ', placeholder: '半角数字' %>枚
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div id="totalDeckCount">
      合計: <span id="totalCount">0</span> 枚
    </div>

    <div class="post-btn-contents">
      <div class="form-submit">
        <%# 保存 %>
        <%= f.submit '保存', class: 'form-submit' %>
      </div>
      <div class="back-btn">
        <%# 戻る %>
        <%=link_to '戻る', battlespirits_path, class:"back-btn" %>
      </div>
    </div>
  <% end %>
</div>