<%# タイトルをクリックするとトップページに戻る %>
<div class="deck-header">
  <div class="left-header">
    デッキレシピ
  </div>
  <div class="right-header">
    <!-- 投稿した内容を修正する -->
    <ul class="more_list">
      <li>
        <%# 編集 %>
        <%= link_to '編集', edit_battlespirit_path(@battlespirits), class: "deck-blue-btn" %> 
      </li>
      <li>
        <%=link_to '戻る', battlespirits_path, class:"back-btn" %>
      </li>
      <li>
        <%= link_to '削除', battlespirit_path(@battlespirits), data: { turbo_method: :delete }, method: :delete, class:"deck-blue-btn" %>
      </li>
    </ul>
  </div>
</div>

<%# デッキ作成  cardを縦横2列にし「カード名：3枚」の形で保存、枚数はActiveHashで表記%>
<div class="mains">
  <%# デッキ名を記入 %>
    <div class= "deck">
      <div class="deck-name">
        <div class="category">
          デッキ名 
        </div>
        <div class="names">
          <%= @battlespirits.deck_name %>
        </div>
      </div>
      <div class="color_selection">
        <%= @battlespirits.color.name %>
      </div>
    </div>

    <%# カテゴリの横にカード名を入力 %>
    <div class="deck">
      <div class="category">
        アルティメット  
      </div>
      <div class="cards">
        <div class="card">
          <%= @battlespirits.ultimate1 %> :  3枚
        </div>
        <div class="card">
          <%= @battlespirits.ultimate2 %> :  3枚
        </div>
      </div>
      <div class="cards">
        <div class="card">
          <%= @battlespirits.ultimate3 %> :  3枚
        </div>
        <div class="card">
          <%= @battlespirits.ultimate4 %> :  3枚
        </div>
      </div>
    </div>

    <div class="deck">
      <div class="category">
        スピリット
      </div>
      <div class="cards">
        <div class="card">
          <%= @battlespirits.spirit1 %> :  3枚
        </div>
        <div class="card">
          <%= @battlespirits.spirit2 %> :  3枚
        </div>
      </div>
      <div class="cards">
        <div class="card">
          <%= @battlespirits.spirit3 %> :  3枚
        </div>
        <div class="card">
          <%= @battlespirits.spirit4 %> :  3枚
        </div>
      </div>
    </div>

    <div class="deck">
      <div class="category">
        ブレイブ 
        <%# ブレイブは3~4枚がベストなバランスかも、スピリットの入力フォームを増やす必要がある %>
      </div>
      <div class="cards">
        <div class="card">
          <%= @battlespirits.brave1 %> :  3枚
        </div>
        <div class="card">
          <%= @battlespirits.brave2 %> :  3枚
        </div>
      </div>
      <div class="cards">
        <div class="card">
          <%= @battlespirits.brave3 %> :  3枚
        </div>
        <div class="card">
          <%= @battlespirits.brave4 %>
        </div>
      </div>
    </div>

    <div class="deck">
      <div class="category">
        マジック
      </div>
      <div class="cards">
        <div class="card">
          <%= @battlespirits.magic1 %> :  3枚
        </div>
        <div class="card">
          <%= @battlespirits.magic2 %> :  3枚
        </div>
      </div>
      <div class="cards">
        <div class="card">
          <%= @battlespirits.magic3 %> :  3枚
        </div>
        <div class="card">
          <%= @battlespirits.magic4 %> :  3枚
        </div>
      </div>
    </div>

    <div class="deck">
      <div class="category">
        ネクサス
      </div>
      <div class="cards">
        <div class="card">
          <%= @battlespirits.nexus1 %> :  3枚
        </div>
        <div class="card">
          <%= @battlespirits.nexus2 %> :  3枚
        </div>
      </div>
      <div class="cards">
        <div class="card">
          <%= @battlespirits.nexus3 %> :  3枚
        </div>
        <div class="card">
          <%= @battlespirits.nexus4 %> :  3枚
        </div>
      </div>
    </div>

    <div class="total">
      合計: 40枚
    </div>
</div>